<!DOCTYPE html>
<html>
	<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<meta name="keywords" content="Register Login Widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login Signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
			<link rel="stylesheet" type="text/css" href="/css/admin.css" media="all"/>
		<title>Admin Login</title>
	</head>
	<body>
			<nav>
					<ul>
					  <li><a href="/">Login</a></li>
					  <li><a href="/admin/add">Admin</a></li>
					  <li><a href="/guest/add">Guest</a></li>
					</ul>
				  </nav>
			

		<div class="form">
			<h1>Admin Login</h1>
			<form action="/admin/add" method="POST">
				<input type="text" name="username" placeholder="Email" required>
				<input type="password" name="password" placeholder="Password" required>
				<button>Login</button>
			</form>
		</div>
	</body>
</html>