<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/payment.css" type="text/css">
    <title><%= title %></title>
</head>
<body>
        <a class="nav-link" href="/logout" style="float: right;padding: 10px 10px;background-color:chartreuse;margin-right: 100px;border-radius: 10px;text-decoration: none;" >Log Out</a>  
        <a class="nav-link"  style="float: right;padding: 10px 10px;background-color:chartreuse;margin-right:10px;border-radius: 10px;" >Guest</a>
        
        <form action="/guest/pay" method="POST">
        <div class="paydetails">
            <h1 style="margin-left: 200px;">Your Payment Details</h1>
            <p >Sport Name : <%= game %></p>
                <% if (data) { %>
                    <% data.forEach(function(user){ %>
                            <p>Amount : <%= user.guestprice %></p>
                            
                    <% }) %>
                    <% } %>
        </div>
        <button>Pay</button>
        <a href="/guest/add">Back</a>

    
        </form>
</body>
</html>